/* styles.css */

body {
    background: linear-gradient(135deg, #cceeff, #f3e6ff);
    display: block;

}

  
  .container {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background: linear-gradient(135deg, #cceeff, #f3e6ff);
  }
  
  h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  p {
    color: black;
    font-size: 1.2em;
    line-height: 1.6;

  }



    
    a{
    font-size: .8rem !important;
    }

    .resume-btn{
        font-size: 1rem;
        width: fit-content !important;
        padding: 15px 10px !important;
    }


    .headerclass{
  
        background-color: transparent !important;
    }




  